/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@media print {
  * {
    -webkit-print-color-adjust:exact;
  }

  @page  {
    size: auto;   /* auto is the initial value */
    margin: 0mm;  /* this affects the margin in the printer settings */
  }
}

html, body {
  font-family: Helvetica, Arial, Sans;
}

.camera-layout {
  background-color: #000000;
  color: #fff;
}

.camera-layout .main-header {
  position: relative;
  width: 100%;
  background-color: #2B2B2B;
  text-align: center;
  font-weight: bold;
  height: 60px;
}

.camera-layout .main-header .logo {
  float: left;
  position: absolute;
  top: 10px;
  left: 10px;
}

.camera-layout .main-header .headline {
  padding-top: 20px;
}

.container {
  width: 855px;
  margin: 0 auto;
}

.video-container {
  display: block;
  margin-top: 25px;
  margin-bottom: 25px;
}

.editor-container {
  display: none;
  margin-top: 25px;
  margin-bottom: 25px;
}

.buttons-container {
  text-align: center;
}

.introduction-container {
  margin-top: 25px;
  margin-bottom: 25px;
}

.introduction-container ul {
  display: flex;
  list-style-type: none;
}

.introduction-container ul li {
  flex: 1;
  color: #3f3f3f;
  font-weight: bold;
  text-align: center;
}

.introduction-container ul li.active {
  color: #fff;
}

button#render {
  display: none;
}

button#screenshot, button#render {
  background-color: #f7a600;
  color: #ffffff;
  border: 0;
  border-radius: 20px;
  padding: 20px;
  font-weight: bold;
}

.button-image {
  margin-top: 5cm;
  margin-left: 5cm;
  width: 2cm;
  height: 2cm;
  background-size: cover;
  border-radius: 50%;
}
