.container
  .introduction-container
    %ul
      %li.active
        1. Foto machen
      %li
        2. Geil machen
      %li
        3. Button machen
  .video-container
    %video#v{ style: "width: 855px; height: 641px;" }
    %div{style: "background-color: rgba(204, 0, 102, 0);border: 3px solid #fff;height:640px;width:640px;-webkit-border-radius:320px;-moz-border-radius:320px; position:absolute; top:0px; left:117px"}
  .editor-container
    #container{ style: "width: 855px; height: 641px;" }
  .buttons-container
    %button#screenshot
      Screenshot

    %button#render
      Make the button
